{% extends 'portal/portal' %}
{% block appStylos %}

{% endblock %}
{% block appBody %}
<section class="content-header">
  <h4>
    <i class="fa fa-user icon-title"></i> Perfil Asignado a Usuario
  </h4>
  <ol class="breadcrumb">
    <li><a href="portal"><i class="fa fa-home"></i> Inicio </a></li>
    <li><a href="administracion/usuario"> Usuarios </a></li>
    <li class="active"> Perfil Asignado a Usuario </li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
      </div>
    </div>
  </div>
  <div class="box-footer">
  </div><!-- /.box footer -->
</section>
{% endblock %}
{% block appScript %}

    <script src="views/app/js/administracion/administracion.js"></script>

{% endblock %}
