{% extends 'portal/portal' %}
{% block appBody %}
  <section class="content-header">
      <h4>
        <i class="fa fa-user"></i> REGISTRO DE USUARIOS
      </h4>
      <ol class="breadcrumb">
        <li><a href="portal"><i class="fa fa-home"></i> Inicio </a></li>
        <li><a href="administracion/usuario"> Usuarios </a></li>
        <li class="active"> agregar </li>
      </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <form id="register_user_form"  action="" method="POST">
            <div class="box-body col-sm-4"></div>
            <div class="box-body col-sm-4">
              <div class="form-group">
                <input class="form-control" name="name"        id="name"        type="text"     placeholder="Nombre Completo" required/>
                <input class="form-control" name="email"       id="email"       type="email"    placeholder="E-Mail" required/>
                <input class="form-control" name="fono"       id="fono"       type="text"    placeholder="Fono" required/>
              </div>
              <div class="form-group">
                <input class="form-control" name="pass"        id="pass"        type="password" placeholder="Password" required/>
                <input class="form-control" name="pass_repeat" id="pass_repeat" type="password" placeholder="Repita Password" required/>
              </div>
              <div class="form-group">
                <select name='perfil' id='perfil' class='form-control'>
                <option selected='selected'>--</option>
                {% for p in db_perfiles if false != db_perfiles %}
                <option value='{{ p.nombre }}'>{{ p.nombre }}</option>
                {% endfor %}
                <option value='Otro'>Otro</option>
                </select>
              </div>
              <div class="checkbox">
                <label>
                <input name="rol" type="checkbox" id="admin" /> Usuario Administrador?
                </label>
              </div>
              <div class="form-group">
                <button type="button" id="register" class="btn btn-default">Grabar</button>
                <button type="reset" id="limpiar" class="btn btn-default">Limpiar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block appScript %}
    <script src="views/app/js/administracion/administracion.js"></script>
{% endblock %}
