<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.4.0
    </div>
<<<<<<< HEAD
    <strong>Copyright &copy; {{ "now"|date("Y") }} <a href="http://www.wys.cl" target="_blank">WYS SOLUCIONES INFORMATICAS LTDA</a>.</strong>
=======
    <strong>Copyright &copy; {{ "now"|date("Y") }} <a href="http://www.wys.cl" target="_blank">WYS SOLUCIONES INFORMATICA LTDA</a>.</strong>
>>>>>>> 8596db8cf2555df2e7780cde8b06e583c409349a
</footer>
